header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
}

#back-button {
  grid-area: 1 / 1;
  justify-self: start;
  margin: 0 10px;
}

header h1 {
  grid-area: 1 / 2;
  text-align: center;
  margin: 0;
}

#account-container {
  grid-area: 1 / 3;
  justify-self: end;
  margin: 0 10px;
}

#page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 40px auto;
  grid-template-areas:
    "spacer"
    "message-area"
    "main";
  height: 100vh;
}

#spacer {
    display: block;
}

#main-message {
  grid-area: message-area;
}

main {
    grid-area: main;
}

#inspection-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
}

#previous-button {
  grid-area: 1 / 1;
  justify-self: start;
}

#inspection-header h2 {
  grid-area: 1 / 2;
  text-align: center;
  margin: 0;
}

#next-button {
  grid-area: 1 / 3;
  justify-self: end;
}



@media (min-width: 1045px) {
  #page-wrapper {
    justify-items: center;
  }
}